
/*轮播图*/

.pic {
    position: relative;
    height: 250px;
    overflow: hidden;
    z-index: 1;
}

.pic img {
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

.pic a {
    display: none;
    width: 50px;
    height: 50px;
    background: RGBA(0, 0, 0, .3);
    line-height: 50px;
    text-align: center;
    color: #fff;
    font-size: 36px;
    position: absolute;
    top: 50%;
    margin-top: -25px;
    text-decoration: none;
}

.pic:hover a {
    display: block;
}

.pic a.picslide-next {
    right: 0;
}

.pic a.picslide-last {
    left: 0;
}

.picslide-dot {
    position: absolute;
    bottom: 2%;
    left: 50%;
}

.picslide-dot span {
    display: block;
    background: #222;
    border: 1px solid #fff;
    float: left;
    margin-right: 5px;
    width: 15px;
    height: 15px;
    border-radius: 10px;
    cursor: pointer;
    opacity: 0.8;
}

.picslide-dot span.on {
    background: #fff;
}
/*内容*/

.main {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 5px;
}

.recommended {
    font-size: 1.1em;
    font-weight: bold;
    margin: 10px 0 -10px;
    padding: 10px 2% 20px;
    color: #f36;
    background: #fff;
    background: #fff url(../images/h_line.jpg) repeat-x 0 bottom;
}

.hot {
    float: left;
    width: 69%;
    margin-right: 1%;
}

.hot-row {
    position: relative;
    margin-top: 10px;
    padding: 10px 2%;
    background: #fff;
}

.hot-row .thumb {
    float: left;
    width: 28%;
    margin-right: 2%;
}

.hot-row .thumb img {
    width: 100%;
    max-width: 240px;
    height: auto;
}

.hot-row .article {
    float: left;
    width: 66%;
}

.hot-row .article h2 a {
    font-size: 1em;
    font-weight: bold;
}

.hot-row .article .des {
    font-size: .9em;
    margin-top: 2%;
    color: #777;
}

.hot-row .article .state {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 66%;
    margin-right: 2%;
    margin-bottom: 10px;
    text-align: right;
}

.hot-row .article .state span {
    font-size: .9em;
    margin-right: 10px;
    color: #999;
}

.hot-row .article .state .read {
    font-size: .9em;
    display: inline-block;
    margin-right: 5%;
    padding: 5px;
    color: #fff;
    background: #fd8a61;
}



