/*重置浏览器样式属性*/
@charset "utf-8";
*{
    font-family: 微软雅黑;
    margin: 0;
    padding: 0;
    border: 0;
}
img{
    vertical-align: middle;
    border: 0;
    width:100%;
    max-width: 100%;
    height:auto;
}
a{
    cursor: pointer;
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}
ul,li,ol,dl,dt,dd{
    list-style: none;
}
h1,h2,h3,h4,h5,h6{
    font-weight:normal;
    font-size: 16px;
}
/* 清除浮动 */
.clear{
	clear:both ;
}
.clearfix{
	zoom:1;
}
.clearfix:after{
	clear:both;
	content:"";
    display:block;
    height: 0;
    line-height: 0;
    visibility:hidden;
}